.crystal-image {
    width: 200px;
    height: 200px;
    margin: 10px;

}

.crystal-image.col {
    background: red;
    margin: 0 110px;
}

.jumbotron {
    background-color: #0E1C30;
}

ul {
    list-style-image: url("../images/Diamond_edited-30x18.jpg")
}

h1 {
    color: #f7f4d7;
    font-family: 'Mystery Quest', cursive;
    text-align: center;
}
.display-4 {
    font-size: 6rem;
}

body {
    background-color: #527c70;
    font-family: 'Raleway', sans-serif;
}

.card-body {
    border: 3px double #0E1C30;
    margin: 10px 0;
}
 
